<div class="wrapper-content">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
            	<div class="btn-group btn-group-justified">
				  	<div class="btn-group">
				    	<a href="#cadastra" class="btn btn-default" >Cadastrar um novo cartão!</a>
				  	</div>
				  	<div class="btn-group">
				    	<a href="#list" class="btn btn-default">Ir para lista de cartões cadastrados</a>
				  	</div>
				</div>
            </div>
        </div>
    </div>
</div>