<div class="wrapper-content">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h2>Olá, {{nome}}!</h2>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Digite os dados do colaborador que você deu o cartão vermelho:</div>
                <div class="panel-body">
                    <form role="form" ng-submit="insereDataCartao()">
                        <input type="date" class="form-control" ng-model="data_entrega" placeholder="Digite a data da entrega do cartão" />
                        <input type="text" class="form-control" ng-model="cartao_num" placeholder="Digite o número do cartão vermelho" />
                        <div class="form-inline">
                            <div class="form-group">
                                <select class="form-control" ng-model="empresa" ng-change="populaLojas()">
                                    <option value="">Escolha sua empresa</option>    
                                    <option ng-repeat="empresa in empresas" value="{{empresa.id_empresa}}">{{empresa.nome_empresa}}</option>
                                </select>
                                <select class="form-control" ng-model="loja">
                                     <option value="">Escolha sua loja</option>
                                    <option ng-repeat="loja in lojas" value="{{loja.id_loja}}">{{loja.bairro_loja}}</option>
                                </select>
                            </div>
                        </div>
                        <input type="hidden" class="form-control" ng-model="cpf" value="{{cpf}}">
                        <input type="text" class="form-control" ng-model="matricula_col" placeholder="Digite a matricula do colaborador" />
                        <button type="submit" class="btn btn-lg btn-block btn-success"><i class="glyphicon glyphicon-credit-card"></i>&nbsp;&nbsp;&nbsp;Cadastrar cartão</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-controller="homeController">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-body">
            <h3>Seu cartão foi cadastrado com sucesso!</h3> 
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary btn-block" ng-click="ok()">OK</button>
        </div>
    </script>
</div>